nav {
  font-family: 'Wire One', sans-serif;
  position:absolute;
  left:50px;
  top:50px;
  opacity:.8;
  font-size:3em;
  z-index:1;
  cursor:pointer;

  i {
    padding: 5px;
    border-radius: 5px;

    &:hover {
      background:lightgray;
    }
  }

  ul {
    padding-left:5px;
    list-style: none;
    max-height: 0;
    overflow:hidden;
    transition: max-height .5s;
  }

  a {

  }
}

nav.active ul {
  display:block;
  max-height:999px;
}

@media (max-width: $screen-sm) {
  nav {
    left: 5px;
    top:5px;
  }

  nav ul {
    background: rgba(209, 209, 209, .7);
    padding-right:10px;
  }
}
