.timeline {
  list-style: none;

  .timeline-event-year {
    padding: 10px;
    font-weight:700;
  }

  .timeline-event-body {

    background:rgba($light-blue, .8);
    margin-bottom:10px;
    position:relative;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid darken($light-blue, 10%);
    border-radius:5px;

    &:after {
      content: ' ';
      position:absolute;
      top:15px;
      right: 0;
      left: -16px;
      height: 0;
      width: 0;
      border: solid transparent;
      border-right-color: $light-blue;
      border-width:8px;
    }
  }
}
