html {
  height: 100%;
}

body {

}

.app-wrapper {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Wire One', sans-serif;
}

.chicago-bg {
  &:before {
    content: ' ';
    display:block;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:.6;
    background: url(../img/chicago-clouds.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index:-1;
  }
}

.view-header {
  text-align:center;
  font-size:3em;

  h1 {
    font-size: 2em;
  }
}

.view-content {
  @extend .container;
  .white-bg {
    @extend .row;

    background: rgba(256, 256, 256, .2);
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #fafafa;
  }
}
