html {
  height: 100%;
  background: url(/img/chicago-clouds.jpg) no-repeat center center fixed;
  background-size:cover;

}

body {
  background-color:transparent;
}

.app-wrapper {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Wire One', sans-serif;
}

.bold {
  font-weight:700;
}

.view-header {
  text-align:center;
  font-size:3em;

  h1 {
    font-size: 2em;
  }
}

.view-content {
  @extend .container;
  .white-bg {
    @extend .row;

    background: rgba(256, 256, 256, .2);
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #fafafa;
  }
}
