@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "settings/fonts";
@import "settings/global";
@import "settings/transitions";
@import "components/nav-menu";
@import "components/timeline";
@import "views/home-view";
@import "views/resume-view";
