nav {
  position:absolute;
  left:50px;
  top:50px;
  opacity:.8;
  font-size:3em;
  z-index:1;
  cursor:pointer;

  i {
    padding: 5px;
    border-radius: 5px;

    &:hover {
      background:lightgray;
    }
  }
}
