.home-view {
  height: 100%;
  position:relative;
  @extend .row;
}

.home-header {
  @extend .col-md-12;
  @extend .col-sm-12;

  padding-top:10%;
}

.home-content {
  text-align: center;

  .current-role {
    border-bottom: 1px dotted black;
  }
}
