.home-view {
  height: 100%;
  position:relative;
  @extend .row;
}

.home-header {
  @extend .col-md-12;
  @extend .col-sm-12;

  padding-top:10%;
}

.home-content {
  text-align: center;

  .current-role {
    border-bottom: 1px dotted black;
  }

  .social-icons {
    a {
      &:hover, &:focus {
        text-decoration: none;
      }

      i {
        margin-right: 10px;
      }
      &:last-child {
        i {
          margin-right: 0;
        }
      }
    }
  }

  .home-inquiries {
    background: $transparent-blue;
    padding: 5px 10px;
    border-radius: 5px;
    position:fixed;
    bottom: 20px;
    left: 30%;
    border: 2px solid rgba(255, 255, 255, .5);

    a {
      cursor: pointer;
    }
  }
}
