.resume {
  @extend .col-md-12;
  @extend .col-sm-12;

  .resume-intro {
    @extend .row;
    text-align: center;
  }

  .resume-download {
    .code-example-helper {
      margin-left: 15px;
      font-style: italic;
    }
  }

  .resume-body {
    @extend .row;

    .resume-timeline {
      @extend .col-md-6;
      @extend .col-sm-6;
      @extend .col-xs-12;
    }

    .resume-contact {
      @extend .col-md-6;

      ul {
        list-style: none;
        padding-left: 5px;

        li {
          i {
            padding:10px;
            border: 1px solid $gray;
            border-left: none;
            opacity: .4;
            width: 35px;
            border-bottom: none;
          }

          &:first-child {
            i {
              border-top: none;
            }
          }
        }
      }
    }

    .resume-work {
      @extend .col-md-6;

      i {
        margin-left:5px;
        padding: 10px;
        border: 1px solid $gray;
        border-left: none;
        opacity: .4;
        width: 35px;
        margin-right: 10px;
        border-top: none;
        border-bottom: none;
      }
    }

    .resume-skills {
      @extend .col-md-6;

      .skills {
        ul {
          list-style: none;
          padding-left: 10px;

          .skill-rating {
            background: $transparent-blue;
            padding-left: 10px;
            border-radius: 2px;
            margin-bottom:5px;
            position:relative;

            .skill-name {

            }

            .skill-rating-number {
              position:absolute;
              right: 5px;
              color: $gray;
            }

            &.rating-10 {
              width: 420px;
            }

            &.rating-9 {
              width:380px;
            }

            &.rating-8 {
              width: 340px;
            }

            &.rating-7 {
              width: 300px;
            }

            &.rating-6 {
              width: 260px;
            }

            &.rating-5 {
              width: 220px;
            }

            &.rating-4 {
              width: 180px;
            }

            &.rating-3 {
              width: 140px;
            }

            &.rating-2 {
              width: 100px;
            }

            &.rating-1 {
              width: 60px;
            }
          }
        }
      }

      .level-measurements {
        list-style: none;
        padding-left:0;

        li {
          display:inline-block;
          margin: 0 10px;
          position:relative;
          background:$transparent-blue;
          border-radius:5px;
          width:20px;
          text-align:center;

          &:after {
            content: ' ';
            background: $transparent-blue;
            position:absolute;
            width:20px;
            height:5px;
            left:20px;
            display:block;
            top:7px;
          }

          &:last-child {
            &:after {
              display:none;
            }
          }
        }
      }
    }

    .resume-timeline-education, .resume-timeline-experience {
      @extend .row;
    }

    .timeline {
      @extend .col-md-12;

      .timeline-event {
        @extend .row;

        .timeline-event-year {
          @extend .col-md-2;
        }

        .timeline-event-body {
          @extend .col-md-9;
          @extend .col-md-offset-1;
        }
      }
    }
  }
}


